@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-gray-900;
}


.scroll-container {
  overflow-x: auto;
  margin: 12px;
 }

.scroll-container::-webkit-scrollbar {
  height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background: #edf2f7;
  border-radius: 6px;
  transition: background-color 0.3s;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background: #edf2f7;
}

.scroll-container::-webkit-scrollbar-track {
  background: #4a5568;
  border-radius: 6px;
}